AWS_PROFILE=AussieEcoLense
AWS_REGION=us-east-1
GCP_ML_PROCESSOR_URL=https://aussie-eco-len-us-demo-ml-processor-jt3duqdrdq-uk.a.run.app
HMAC_SECRET_NAME=aussie-eco-len-us-demo/gcp-ml-hmac
MEDIA_TABLE_NAME=aussie-eco-len-media
MEDIA_BUCKET_NAME=aussie-eco-len-bucket-12345
PROCESS_ML_RESULT_FUNCTION_NAME=process_ml_result_v2
